@tailwind base;
@tailwind components;
@tailwind utilities;

.mages{
  @apply    md:hover:w-[310px] hover:scale-105 hover:transition-all bg-contain object-cover;
}
.played-text{
 @apply absolute right-0 bottom-0 left-0 text-center text-white text-2xl;
}
.drop{
  filter: drop-shadow(30px 10px 4px #4444dd);
  mix-blend-mode: luminosity;
}
.audio svg{
  color:green;
  font-size: 60px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
